@import "base/fonts";
@import "base/reset";
@import "base/variables";

$doubanBg: #e5ebe4;
$doubanGreen: #072;

body {
  color: $black;
  background-color: $doubanBg;
}

footer {
  font-size: 15px;
  text-align: right;
  padding: 20px 30px;

  a {
    transition: all .5s ease;
    color: $doubanGreen;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: lighten($doubanGreen, 10);
    }
  }
}

#popup {
  min-width: 250px;
  padding: 20px 30px;

  header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;

    h2 {
      font-size: 22px;
      text-align: center;
      margin-right: 5px;
    }
  }

  .links__holder  {
    ul {
      display: flex;
      flex-direction: column;
      margin-top: 2em;
      align-items: flex-start;
      justify-content: space-around;

      li {
        margin-top: 0.4em;

        button {
          transition: all .5s ease;
          background: unset;
          font-size: 15px;
          font-weight: 500;
          color: $doubanGreen;
          cursor: pointer;
          padding: 4px 8px;

          &:hover {
            color: lighten($doubanGreen, 10);
          }
        }
      }
    }
  }
}
